// 初始化
global-reset()

body
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", sans-serif

header
    text-align: center
    height: 120px
    background-color: #f4f4f4

    .logo
        width: 28px
        vertical-align: middle
        margin-top: -6px
        margin-right: 10px

    h1
        line-height: 120px
        font-size: 28px
        color: #666

.panel
    border-bottom: 5px solid #f4f4f4
    padding: 15px

    h2
        margin: 5px 0 15px -15px
        font-size: 20px
        font-weight: 400
        border-left: 3px solid #38f
        padding-left: 12px

    h3
        margin: 10px 0
        font-size: 18px

    p
        margin-bottom: .5em
        font-size: 14px
        line-height: 1.4

.md-container
    margin-top: 10px

    h1
        font-size: 18px
        margin-top: 15px
        margin-bottom: 10px

    table
        border-collapse: collapse
        font-size: 12px
        line-height: 1.4
        width: 100%

        th
            font-weight: 400

        td,
        th
            border: 1px solid #eee
            padding: 5px
            word-wrap: break-word
            word-break: break-all

        tr td:nth-child(1),
        tr td:nth-child(3),
        tr td:nth-child(4)
           word-break: normal
           word-wrap: normal

        code
            display: inline-block
            padding: 0 2px
            background-color: #f4f4f4


