@require '../css/base'

.{$-cui-class-prefix}-dialog
    fixed: top 0 right 0 bottom 0 left 0
    background-color: rgba(0, 0, 0, .6)
    display: none
    z-index: $-cui-z-index.mask

    &.show
        display: block

    &-wrap
        absolute: top 50% left 50%
        background-color: #fff
        transform: translate(-50%, 0)
        padding: 10px
        z-index: $-cui-z-index.dialog

        &.vertical-middle
            transform: translate(-50%, -50%)

    &-header
        margin: 0
        height: 40px
        line-height: 40px
        font-size: 16px

    &-close
        absolute: top 0 right 0
        width: 40px
        height: 40px
        text-align: center
        line-height: 36px
        font-size: 22px
        color: #999
        cursor: pointer

    &-body
        padding: 20px 0

    &-footer
        display: flex

    &-footer-item
        flex: 1
        line-height: 1