.imageview-demo
    ul
        margin-bottom: 20px
        overflow: hidden

        li
            size: 100px
            float: left
            margin-right: 5px

            .pic
                size: 100px
                background-size: cover