@require '../css/base'

.searchbox-demo
    .cui-searchbox.inputing
        z-index: $-cui-z-index.fullscreen
        padding: 15px
        absolute: top 0 left 0 right 0 bottom 0

    .cui-searchbox-wrap
        margin-bottom: 15px

    .suggestion-item
        padding: 10px 15px
        border-bottom: 1px solid #eaeaea