@require '../css/base'

@font-face
    font-family: "seeui-mobile-icon"
    src:
        url('./font/icon.woff?t=1499157214944') format('woff'), /* chrome, firefox */
        url('./font/icon.ttf?t=1499157214944') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('./font/icon.svg?t=1499157214944#seeui-mobile-icon') format('svg') /* iOS 4.1- */

.cui-icon
    font-family:"seeui-mobile-icon" !important
    font-size:16px
    font-style:normal
    display: inline-block
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.cui-i-check:before
    content: "\e645"

.cui-i-close:before
    content: "\e646"

.cui-i-favor-fill:before
    content: "\e64b"

.cui-i-favor:before
    content: "\e64c"

.cui-i-loading:before
    content: "\e64f"

.cui-i-round-check-fill:before
    content: "\e656"

.cui-i-round-check:before
    content: "\e657"

.cui-i-round-close-fill:before
    content: "\e658"

.cui-i-round-close:before
    content: "\e659"

.cui-i-search:before
    content: "\e65c"

.cui-i-unfold:before
    content: "\e661"

.cui-i-back:before
    content: "\e679"

.cui-i-more:before
    content: "\e684"

.cui-i-question-fill:before
    content: "\e690"

.cui-i-question:before
    content: "\e691"

.cui-i-top:before
    content: "\e69e"

.cui-i-right:before
    content: "\e6a3"

.cui-i-refresh:before
    content: "\e6a4"

.cui-i-delete-fill:before
    content: "\e6a6"

.cui-i-delete:before
    content: "\e6b4"

.cui-i-home:before
    content: "\e6b8"

.cui-i-home-fill:before
    content: "\e6bb"

.cui-i-square-check-fill:before
    content: "\e6d4"

.cui-i-square:before
    content: "\e6d5"

.cui-i-square-check:before
    content: "\e6d6"

.cui-i-round:before
    content: "\e6d7"

.cui-i-fold:before
    content: "\e6de"

.cui-i-info-fill:before
    content: "\e6e4"

.cui-i-info:before
    content: "\e6e5"

.cui-i-share:before
    content: "\e6f3"

.cui-i-people-fill:before
    content: "\e735"

.cui-i-people:before
    content: "\e736"

.cui-i-radio-box:before
    content: "\e75b"

.cui-i-radio-box-fill:before
    content: "\e763"

.cui-i-add:before
    content: "\e767"

.cui-i-move:before
    content: "\e768"

.cui-i-warn-fill:before
    content: "\e641"

.cui-i-warn:before
    content: "\e642"

.cui-i-loading
    animation: cui-loading-rotate 1.5s linear
    animation-iteration-count: infinite
    transform-origin: center center

@keyframes cui-loading-rotate
    0%
        transform: rotate(-365deg)
    100%
        transform: rotate(0)