.carousel-demo-banner
    size: 100% 150px
    background-color: #f4f4f4
    color: #333
    font-size: 30px
    background-size: cover
    background-position: 50% 50%

    &.banner-1
        background-image: url(http://i2.kiimg.com/1949/f2c01dfe25649fd7t.jpg)

    &.banner-2
        background-image: url(http://i2.kiimg.com/1949/9458344e7e9986eat.jpg)

    &.banner-3
        background-image: url(http://i2.kiimg.com/1949/984ee020934108b7t.jpg)

.carousel-demo-card-wrap
    // 根据需求充满屏幕
    margin-left: -15px
    margin-right: -15px

    .carousel-demo-card
        // 设置卡片样式
        border-radius: 10px
        line-height: 150px
        size: 100% 150px
        background-color: #38f
        color: #fff
        font-size: 30px
