@require '../css/base'

.{$-cui-class-prefix}-toast
    fixed: top 50% left 50%
    transform: translate(-50%, -50%)
    padding: 10px
    background-color: rgba(0, 0, 0, .8)
    color: #fff
    max-width: 80%
    z-index: $-cui-z-index.toast
