@require './button/Button'
@require './infiniteLoader/InfiniteLoader'
@require './infiniteLoader/LoadMore'
@require './dialog/Dialog'
@require './dialog/Alert'
@require './dialog/Confirm'
@require './icon/Icon'
@require './input/Input'
@require './tabs/Tabs'
@require './imageView/ImageView'
@require './imageView/CenterImage'
@require './carousel/Carousel'
@require './rate/Rate'
@require './searchbox/SearchBox'
@require './searchbox/Suggestion'
@require './uploader/Uploader'
@require './sticky/Sticky'
